.step-content__logo-wrapper {
  //position: absolute;
  //bottom: 0;
  //right: 0;
  position: relative;
}

.step-content__logo-cover {
  position: absolute;
  top: -3px;
  right: 0;
}

.step-content__logo {
  position: absolute;
  top: 2px;
  right: 18px;
}
