@import "../variables";

.parameter-selection {
  display: flex;
  position: relative;
}

.parameter-selection__item {
  position: relative;
}

.parameter-selection__item {
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  position: relative;

  &.active {
    border-color: $color-text;

    .parameter-selection__item-label {
      &:hover {
        box-shadow: none;
      }

      &.parameter-selection__item-label--eyedropper {
        &:hover {
          box-shadow: $parameter-selection-shadow;
        }
      }
    }
  }

  &.disabled {
    .parameter-selection__item-label {
      cursor: default;
      opacity: 0.3;
      min-width: 64px;
      padding-right: 20px;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.parameter-selection__item-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.parameter-selection__item-label {
  padding: 10px;
  border-radius: 6px;
  background: $color-grey-light;
  color: $color-grey;
  min-width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    box-shadow: $parameter-selection-shadow;
  }
}

.parameter-selection__item-label--eyedropper {
  background-color: transparent;
  padding: 0;
}

.parameter-selection__item-label--custom {
  width: 40px;
  padding: 0;

  &:hover {
    box-shadow: none;
  }
}

.parameter-selection__item--counter {
  padding-right: 35px;
}

.parameter-selection__counter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25px;
}

.parameter-selection__counter-item {
  width: 25px;
  height: 25px;
  cursor: pointer;

  &:before {
    right: 10px;
    content: '';
    display: block;
    border: solid $color-orange;
    border-width: 2.5px 2.5px 0 0;
    position: absolute;
    width: 7px;
    height: 7px;
  }

  &:hover {
    &:before {
      border-color: darken($color-orange, 15%);
    }
  }
}

.parameter-selection__counter-item--plus {
  &:before {
    right: 11px;
    top: 13px;
    transform: rotate(-45deg);
  }
}

.parameter-selection__counter-item--minus {
  &:before {
    bottom: 13px;
    transform: rotate(135deg);
  }
}
