@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'GothamPro', Tahoma, Arial, sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

textarea,
input {
  outline: none;
}

.font-weight-900 {
  font-weight: 900;
}

.color-orange {
  color: $color-orange;
}

.hide {
  display: none !important;
}

.content {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: $content-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1023px) {
    padding: 0 15px;
  }
}
