$bg-color: #d1fdfe;

$color-text: #b4dfe5;
$color-text-dark: #0a2c31;

// Base colors
$color-white: #fff;
$color-orange: #f46946;

// Footer
$footer-height: 110px;

// Container
$container-width: 850px;