// https://webfonts.pro/base-web-fonts/sans-serif-grotesque/48-gotham-pro.html

@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: 300;
  src: local('GothamPro'), local('GothamPro-Light'), url('../fonts/GothamPro-Light.woff') format('woff2');
}

@font-face {
  font-family: 'GothamPro';
  font-style: italic;
  font-weight: 300;
  src: local('GothamPro'), local('GothamPro-Light-Italic'), url('../fonts/GothamPro-LightItalic.woff') format('woff2');
}

@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: 400;
  src: local('GothamPro'), local('GothamPro-Regular'), url('../fonts/GothamPro.woff') format('woff2');
}

@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: 700;
  src: local('GothamPro'), local('GothamPro-Bold'), url('../fonts/GothamPro-Bold.woff') format('woff2');
}

@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: 900;
  src: local('GothamPro'), local('GothamPro-Black'), url('../fonts/GothamPro-Black.woff') format('woff2');
}

// Proxima Nova

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src: local('ProximaNova'), local('ProximaNova-Regular'), url('../fonts/ProximaNova-Regular.woff') format('woff2');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 900;
  src: local('ProximaNova'), local('ProximaNova-Extrabld'), url('../fonts/ProximaNova-Extrabld.woff') format('woff2');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  src: local('ProximaNova'), local('ProximaNovaT-Thin'), url('../fonts/ProximaNovaT-Thin.woff') format('woff2');
}
