@import "../variables";

.footer {
  border-top: 8px solid $footer-border-color;
  height: $footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0.47px;
  color: $color-text;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
