@import "../variables";

.content-header {
  height: $content-indent;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.content-header__label {
  position: absolute;
  top: 0;
  right: 0;
}

.content-header__container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0 0 100px;
  height: $content-indent;

  @media (max-width: 1600px) {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 30px;
  }
}
